<div class="section">
	<div class="about-header">
		<h1 class="title">JWC คืออะไร</h1>
		<p class="description">JWC 8 เป็นค่ายที่จะพาน้องๆ ที่มีใจรักในการสร้างเว็บไซต์  มาร่วมกิจกรรมสนุกๆ<br>ได้รับความรู้ และเทคนิคการทำเว็บไซต์ พร้อมทั้งทักษะการพรีเซนต์ผลงาน<br>กับกรรมการกูรูในวงการมากมาย</p>
	</div>
	<div class="detail-container">
		<div class="detail-item -activity">
			<img src="images/landing/about/regis-time.png" class="image">
			<h3 class="title">เปิดรับสมัคร</h3>
			<p class="description">8 - 13 เม.ย 2559</p>
		</div>
		<div class="detail-item -activity">
			<img src="images/landing/about/scheduel.png" class="image">
			<h3 class="title">ระยะเวลา</h3>
			<p class="description">23 - 25 เม.ย. 2559</p>
		</div>
		<div class="detail-item -activity">
			<img src="images/landing/about/location.png" class="image">
			<h3 class="title">สถานที่</h3>
			<p class="description">มหาวิทยาลัยราชภัฎจันทรเกษม</p>
		</div>
	</div>
</div>
