<div id="about" class="section">
	<div class="about-header">
		<h1 class="title">JWC คืออะไร</h1>
		<p class="description">Junior Webmaster Camp (JWC) คือค่ายที่จะนำน้อง ๆ ระดับชั้นมัธยมปลายหรือเทียบเท่า ที่มีใจรักในการสร้างเว็บไซต์ มารวมตัวกันสร้างเว็บไซต์เพื่อคนรุ่นใหม่  โดยการันตีคุณภาพด้วยการจัดงานอย่างยาวนานถึง 8 ปีพร้อมผลผลิตเว็บมาสเตอร์รุ่นเยาว์มากกว่า 300 ชีวิต แต่เดี๋ยวก่อน...ค่ายนี้ไม่ใช่ค่ายทำเว็บธรรมดา แต่เรายังมีกิจกรรมต่าง ๆ มากมาย ที่นอกจากความรู้และความสนุกสนานแล้ว ยังให้ทั้งมิตรภาพของเพื่อนใหม่ต่างสถาบัน และพบกับพี่ ๆ เว็บมาสเตอร์ตัวจริง เสียงจริง  ที่พร้อมจะแชร์ประสบการณ์ตรง แบบทำจริง เจ็บจริง  ไม่มีกั๊ก ไม่มียั้ง ... รับประกันเลยว่ามาค่ายนี้มีแต่คุ้มและคุ้มแน่นอน</p>
	</div>
	<div class="detail-container">
		<div class="detail-item -activity">
			<img src="images/landing/about/regis-time.png" class="image">
			<h3 class="title">เปิดรับสมัคร</h3>
			<p class="description">17 มีนาคม 2559</p>
		</div>
		<div class="detail-item -activity">
			<img src="images/landing/about/scheduel.png" class="image">
			<h3 class="title">ระยะเวลา</h3>
			<p class="description">23 - 25 เมษายน 2559</p>
		</div>
		<div class="detail-item -activity">
			<img src="images/landing/about/location.png" class="image">
			<h3 class="title">สถานที่</h3>
			<p class="description">มหาวิทยาลัยราชภัฎจันทรเกษม</p>
		</div>
	</div>
</div>
