<div class="container" id="contact">
    <div class="row">
        <div class="col-sm-6">
            <div class="fb-page" style="width: 100%;" data-href="https://www.facebook.com/jwcth/?fref=ts" data-tabs="timeline" data-width="500px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jwcth/?fref=ts"><a href="https://www.facebook.com/jwcth/?fref=ts">Junior Webmaster Camp</a></blockquote></div></div>
        </div>
        <div class="col-sm-6">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/jwc8" data-widget-id="708848008843042816">#jwc8 Tweets</a>
        </div>
    </div>
</div>
<div class="contact-section">
    <span class="qrcode">
        <img src="http://placehold.it/120">
    </span>
    <h1 class="title">ช่องทางการติดต่อ</h1>
    <h3 class="text">088-680-7571 (พี่ตั้ม), 081-497-8824 (พี่ปอย), 081-381-5010 (พี่เคโกะ)
<br>ช่วยเราประชาสัมพันธ์ค่ายง่ายๆ คลิก</h3>
</div>