<div class="container text-center hidden-xs" id="contact">
    <h1 class="title">ติดตามค่าย</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="fb-page" data-href="https://www.facebook.com/jwcth" data-tabs="timeline" data-width="300" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jwcth"><a href="https://www.facebook.com/jwcth">Junior Webmaster Camp</a></blockquote></div></div>
        </div>
        <div class="col-sm-6">
            <div style="width: 300px">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/jwc8" data-widget-id="709800566856163328">#jwc8 Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
<div class="container text-center visible-xs">
    <h1 class="title">ติดตามค่าย</h1>
    <br>
    <a href="https://www.facebook.com/jwcth"><img src="images/landing/social/fb.png" width="80" alt="Facebook Page"></a>
    <a href="https://twitter.com/@jwcth"><img src="images/landing/social/tw.png" width="80" alt="Twitter Page"></a>
    <a href="https://instagram.com/jwcth"><img src="images/landing/social/ig.png" width="80" alt="Instagram Page"></a>
</div>
<div class="contact-section">
    <span class="qrcode hidden-xs">
        <img src="images/landing/QRCODE.png" width="120" />
    </span>
    <h1 class="title">ช่องทางการติดต่อ</h1>
    <h3 class="text">099-402-8900 (พี่มาย),<br class="visible-xs"> 084-023-7266 (พี่ช้าง),<br class="visible-xs"> 087-685-7077 (พี่แนต)</h3>
    <h3 class="text">ติดตามข่าวสารทันใจได้ทาง <a href="https://line.me/ti/p/@jwcth">LINE @jwcth</a> (หรือ QR CODE ด้าน<span class="hidden-xs">ข้าง</span><div class="visible-xs">ล่าง</div>)</h3>
    <span class="qrcode visible-xs">
        <img src="images/landing/QRCODE.png" width="120" />
    </span>
</div>