<div id="faq" class="faq-section">
	<div id="faq-slide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#faq-slide" data-slide-to="0" class="active"></li>
			<li data-target="#faq-slide" data-slide-to="1" class=""></li>
			<li data-target="#faq-slide" data-slide-to="2" class=""></li>
			<li data-target="#faq-slide" data-slide-to="3" class=""></li>
			<li data-target="#faq-slide" data-slide-to="4" class=""></li>
			<li data-target="#faq-slide" data-slide-to="5" class=""></li>
			<li data-target="#faq-slide" data-slide-to="6" class=""></li>
			<li data-target="#faq-slide" data-slide-to="7" class=""></li>
			<li data-target="#faq-slide" data-slide-to="8" class=""></li>
			<li data-target="#faq-slide" data-slide-to="9" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ค่ายนี้จัดวันที่เท่าไหร่ ?</h3>
						<p class="description"><span class="head">ตอบ</span>  ระยะเวลาการจัดค่าย 2 คืน 3 วัน ตั้งแต่วันที่ 23 - 25 เมษายน 2559</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ใครที่สามารถสมัครได้บ้าง ?</h3>
						<p class="description"><span class="head">ตอบ</span> ค่ายนี้สำหรับน้องๆ ที่กำลังศึกษาอยู่ในระดับชั้น ม.ปลาย หรือเทียบเท่า รวมไปถึงน้องๆ ที่เพิ่งจบชั้น ม.3 และ น้องๆที่เพิ่งจบชั้น ม.6 รวมไปถึงน้องๆระดับ ปวช. ก็สามารถสมัครได้นะจ๊ะ</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ค่ายนี้รับสมัครกี่คน ?</h3>
						<p class="description"><span class="head">ตอบ</span> เราจะคัดเลือกน้องๆ จากที่สมัครเข้ามาเพื่อเข้าค่ายทั้งหมด 48 คน แบ่งเป็นสาขาละ 16 คน โดยคัดเลือกจากการตอบคำถามของน้องๆ เพราะฉะนั้น ใครมีไอเดียเด็ดๆ ใส่มาให้เต็มที่เลยจ้า</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ทำไมต้องมีการเก็บค่ามัดจำ ทั้งๆ ที่บอกว่าฟรีไม่เสียค่าใช้จ่าย ?</h3>
						<p class="description"><span class="head">ตอบ</span> ทางเราขอเก็บเงินมัดจำเพื่อยืนยันว่าน้องๆมาค่ายจริงๆ ซึ่งหลังจากจบค่ายทางเราจะคืนเงินมัดจำทั้งหมดให้กับน้องๆเลยจ้า</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ค่ายมีการค้างคืนหรือไม่ ?</h3>
						<p class="description"><span class="head">ตอบ</span> มีการค้างคืนจ้า โดยเราจะค้างคืนที่ มหาวิทยาลัยราชภัฏจันทรเกษมทั้งหมด 2 คืน ระหว่างวันที่ 23 - 25 เมษายน 2559</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ไม่มี Facebook สมัครได้ไหม ?</h3>
						<p class="description"><span class="head">ตอบ</span> สมัครไม่ได้น้า เพราะเราจะมีการเก็บข้อมูล อีกทั้งยังมีกลุ่มเพื่อใช้ติดต่อกับน้องๆก่อนวันค่าย ระหว่างค่าย และหลังจากจบค่าย โดยใช้ Facebook เป็นช่องทางติดต่อสื่อสารหลัก อีกทั้งยังมีกลุ่ม JWC สำหรับผู้ที่ได้เข้าร่วมค่าย อีกด้วยนะ</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ไม่ได้เรียน ม.ปลาย แต่เรียนอยู่ ปวช. หรือเทียบเท่า สมัครได้ไหม?</h3>
						<p class="description"><span class="head">ตอบ</span> สมัครได้จ้า ขอเพียงน้องมีใจรัก และความตั้งใจ แสดงความมุ่งมั่นให้พี่ๆเห็นผ่านคำตอบของน้องที่สมัครเข้ามาเป็นส่วนหนึ่งในครอบครัว JWC ก็พอแล้ว</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">ทำเว็บไม่เป็น ไม่เคยทำเว็บ สมัครได้ไหม ?</h3>
						<p class="description"><span class="head">ตอบ</span> ได้แน่นอนจ้า เพราะค่ายนี้เน้นการทำงานเป็นทีม ดูไอเดีย และความ creative ของน้องๆ และขอแค่น้องมีความพยายามที่จะเรียนรู้ พัฒนาตัวเองก่อนเข้าค่าย มีพื้นฐานมาเล็กน้อย ก็สมัครได้แล้วจ้า</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">เมื่อไหร่จะประกาศผล แล้วจะทราบได้อย่างไรว่าเข้ารอบ ?</h3>
						<p class="description"><span class="head">ตอบ</span> ทางเราจะประกาศผลในวันที่ 18 เมษายน 2559  ผ่านทางเว็บไซต์ <a href="https://jwc8.jwc.in.th">https://jwc8.jwc.in.th</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="faq-container">
					<div class="faq-item">
						<h3 class="title">
							สามารถติดตาม JWC ได้ผ่านทางช่องทางไหนบ้าง ?
						</h3>
						<p class="description">
							<span class="head">ตอบ</span> ติดตามข่าวสารผ่านช่องทาง Social Network ต่างๆ ดังนี้
							<br>Facebook Page : <a href="https://facebook.com/jwcth">JWCTH</a>
							<br>Twitter : <a href="https://twitter.com/@jwcth">@JWCTH</a>
							<br>Instagram : <a href="https://www.instagram.com/jwcth/">JWCTH</a>
							<br>LINE@ : <a href="http://line.me/ti/p/@jwcth">@JWCTH</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#faq-slide" data-slide="prev"><img src="images/landing/arrow-left.png" width="40" height="40"></a>
		<a class="right carousel-control" href="#faq-slide" data-slide="next"><img src="images/landing/arrow-right.png" width="40" height="40"></a>
	</div>
</div>

