<div id="first" class="first-section">
    <div class="main-logo">
        <img src="images/landing/logo.png" class="logo">
    </div>
    <h1 class="title">เว็บสุดชิค <br class="visible-xs">พลิกปัญหาวัยทีน</h1>
    <div class="row"></div>
    {{!--<div class="sponsor-container">
        <div class="sponsor -main --first">
            <img src="http://placehold.it/720">
        </div>
        <div class="sponsor -main">
            <img src="http://placehold.it/720">
        </div>
        <div class="sponsor -main --first">
            <img src="http://placehold.it/720">
        </div>
        <div class="sponsor -main">
            <img src="http://placehold.it/720">
        </div>
    </div> --}}
</div>