<div id="gallery" class="gallery-section">
	<h1 class="title">ภาพกิจกรรม</h1>
	<div id="gallery-slide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#gallery-slide" data-slide-to="0" class="active"></li>
			<li data-target="#gallery-slide" data-slide-to="1" class=""></li>
			<li data-target="#gallery-slide" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g01.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt01.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g02.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt02.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g03.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt03.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g04.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt04.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g05.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt05.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g06.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt06.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g07.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt07.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g08.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt08.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g09.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt09.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g10.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt10.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g11.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt11.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g12.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt12.jpg" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g13.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt13.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g14.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt14.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g15.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt15.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g16.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt16.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g17.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt17.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g18.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt18.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g19.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt19.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g20.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt20.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g21.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt21.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g22.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt22.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g23.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt23.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g24.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt24.jpg" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g25.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt25.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g26.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt26.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g27.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt27.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g28.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt28.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g29.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt29.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g30.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt30.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g31.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt31.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g32.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt32.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g33.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt33.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g34.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt34.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g35.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt35.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/g36.jpg" class="swipebox">
								<img src="images/landing/gallery_thumbnail/gt36.jpg" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#gallery-slide" data-slide="prev"><img src="images/landing/arrow-left.png" width="40" height="40"></a>
		<a class="right carousel-control" href="#gallery-slide" data-slide="next"><img src="images/landing/arrow-right.png" width="40" height="40"></a>
	</div>
</div>
