<div id="gallery" class="gallery-section">
	<h1 class="title">ภาพกิจกรรม</h1>
	<div id="gallery-slide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#gallery-slide" data-slide-to="0" class="active"></li>
			<li data-target="#gallery-slide" data-slide-to="1" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_01.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_01.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_02.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_02.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_03.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_03.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_04.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_04.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_05.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_05.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_06.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_06.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_07.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_07.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_08.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_08.jpg" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_09.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_09.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_10.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_10.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_11.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_11.jpg" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_12.jpg" class="swipebox">
								<img src="images/landing/gallery/day1/GAL_12.jpg" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="images/landing/gallery/day1/GAL_01.jpg" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
						<div class="gallery-item">
							<a rel="gallery" href="http://placehold.it/720" class="swipebox">
								<img src="http://placehold.it/720" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#gallery-slide" data-slide="prev"><img src="images/landing/arrow-left.png" width="40" height="40"></a>
		<a class="right carousel-control" href="#gallery-slide" data-slide="next"><img src="images/landing/arrow-right.png" width="40" height="40"></a>
	</div>
</div>
