<div id="gallery" class="container">
	<div id="gallery-slide" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#gallery-slide" data-slide-to="0" class="active"></li>
			<li data-target="#gallery-slide" data-slide-to="1" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="gallery-container">
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
					<div class="gallery-row">
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
						<div class="gallery-item">
							<img src="http://placehold.it/720" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#gallery-slide" data-slide="prev"><img src="images/landing/arrow-left.png" width="40" height="40"></a>
		<a class="right carousel-control" href="#gallery-slide" data-slide="next"><img src="images/landing/arrow-right.png" width="40" height="40"></a>
	</div>
</div>
