<div id="jwc-navbarm" class="border-blackboard -navbar visible-sm navbar-fixed-top">
    <a href="/" class="logo">
        <img src="images/landing/logo.png" alt="">
    </a>
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Menu <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-dropdown dropdown-menu" aria-labelledby="navbar-dropdown">
      <li><a data-scroll href="#about">JWC คืออะไร</a></li>
      <li><a data-scroll href="#register">สาขาที่รับสมัคร</a></li>
      <li><a data-scroll href="#timeline">กำหนดการ</a></li>
      <li><a data-scroll href="#gallery">ภาพกิจกรรม</a></li>
      <li><a data-scroll href="#contact">ติดตามค่าย</a></li>
    </ul>
</div>