<nav id="jwc-navbar" class="navbar navbar-jwc navbar-fixed-top hidden-xs show" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="images/landing/logo.png" height="160"></a>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li class="active"><a data-scroll href="#about">JWC คืออะไร</a></li>
			<li><a data-scroll href="#register">สาขาที่สมัคร</a></li>
			<li><a data-scroll href="#timeline">กำหนดการ</a></li>
			<li><a data-scroll href="#gallery">ภาพกิจกรรม</a></li>
			<li><a data-scroll href="#contact">ติดตามค่าย</a></li>
		</ul>
	</div>
</nav>
