<div class="section">
	<div class="detail-container">
		<div class="detail-item -register --marketing">
			<img src="images/landing/register/webmarketing.png" class="image">
			<h3 class="title">Web Marketing</h3>
			<div class="description">มุมมองใหม่ๆ กับการตลาดทำอย่างไร<br>ให้เว็บไซต์โด่งดัง และสามารถสร้างรายได้<br>มหาศาล เรียนรู้เทคนิคจากสถานการณ์<br>แบบ Real-Time</div>
			<img class="skills" src="images/landing/register/marketing-skills.png">
			<h2 class="counter">305</h2>
			<a class="btn marketingBtn">สมัครเลย!</a>
			<form action="/register" method="post">
				<input type="text" name="major" value="marketing" style="display:none;">
				<input id="marketingBtn" type="submit" style="display:none;">
			</form>
		</div>
		<div class="detail-item -register --design">
			<img src="images/landing/register/webdesign.png" class="image">
			<h3 class="title">Web Design</h3>
			<div class="description">เว็บดีไซน์เนอร์ไม่ใช่เพียงผู้ออกแบบความงาม<br>แต่ต้องเข้าใจถึงพฤติกรรมผู้ใช้<br> และมุมมองทางธุรกิจเพื่อให้เกิด<br>ความพึงพอใจในทุกๆ ฝ่าย</div>
			<img class="skills" src="images/landing/register/design-skills.png">
			<a class="btn designBtn">สมัครเลย!</a>
			<form action="/register" method="post">
				<input type="text" name="major" value="design" style="display:none;">
				<input id="designBtn" type="submit" style="display:none;">
			</form>
		</div>
		<div class="detail-item -register --content">
			<img src="images/landing/register/webcontent.png" class="image">
			<h3 class="title">Web Content</h3>
			<div class="description">หนึ่งศาสตร์ที่ล้ำลึกกำหนดทิศทาง<br>ความสำเร็จของเว็บไซต์ ดึงดูดผู้เข้าชมด้วยเนื้อหา<br>บุคลิก และวิธีการสื่อสารรูปแบบต่าง ๆ<br>ไม่ว่าจะเป็นเนื้อหา หรือรูปภาพ</div>
			<img class="skills" src="images/landing/register/content-skills.png">
			<a class="btn contentBtn">สมัครเลย!</a>
			<form action="/register" method="post">
				<input type="text" name="major" value="content" style="display:none;">
				<input id="contentBtn" type="submit" style="display:none;">
			</form>
		</div>
	</div>
</div>
