<div id="register" class="section">
	<h1 class="title">สาขาที่เปิดสมัคร</h1>
	<div class="detail-container">
		<div class="detail-item -register --marketing">
			<img src="images/landing/register/webmarketing.png" class="image">
			<h3 class="title">Web Marketing</h3>
			<div class="description">วางแผนการตลาดสุดชิค <br>ให้พีคถึงใจวัยทีน</div>
			<img class="skills" src="images/landing/register/marketing-skills.png">
			<h2 class="counter counter-marketing">0</h2>
			<a href="/register/marketing" class="btn">สมัครเลย!</a>
		</div>
		<div class="detail-item -register --design">
			<img src="images/landing/register/webdesign.png" class="image">
			<h3 class="title">Web Design</h3>
			<div class="description">รังสรรค์หน้าเว็บสุดบรรเจิด <br>ระเบิดไอเดียสนั่นเว็บ</div>
			<img class="skills" src="images/landing/register/design-skills.png">
			<h2 class="counter counter-design">0</h2>
			<a href="/register/design" class="btn">สมัครเลย!</a>
		</div>
		<div class="detail-item -register --content">
			<img src="images/landing/register/webcontent.png" class="image">
			<h3 class="title">Web Content</h3>
			<div class="description">สร้างสรรค์์งานสื่อให้ดึงดูด <br>ปรับแอตติจูดอย่างมีสไตล์</div>
			<img class="skills" src="images/landing/register/content-skills.png">
			<h2 class="counter counter-content">0</h2>
			<a href="/register/content"class="btn">สมัครเลย!</a>
		</div>
	</div>
</div>
