<div id="sponsor" class="sponsor-section">
	<h1 class="title">ขอขอบคุณผู้ใหญ่ใจดี</h1>
	<div class="sponsor-container">
		<div class="sponsor -main --first">
      <img src="/images/landing/sponsor/spaCPALL.png">
    </div>
    <div class="sponsor -main">
      <img src="/images/landing/sponsor/spaCRU.png">
    </div>
    <div class="sponsor -main --first">
      <img src="/images/landing/sponsor/spaDekD.png">
    </div>
    <div class="sponsor -main">
      <img src="/images/landing/sponsor/spaSamakom.png">
    </div>
	</div>
	<div class="sponsor-container">
		<div class="sponsor -second">
      <img src="/images/landing/sponsor/spbCampHub.png">
		</div>
		<div class="sponsor -second">
      <img src="/images/landing/sponsor/spbP_n_T.png">
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="sponsor -second">
      <img src="/images/landing/sponsor/spbPantip.png">
		</div>
	</div>
	<div class="sponsor-container">
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcDotArai.png">
		</div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcKokae.png">
		</div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spclnwshop.png">
		</div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcMacThai.png">
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcOokBee.png">
		</div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcPentel.png">
		</div>
		<div class="sponsor -third">
      <img src="/images/landing/sponsor/spcWittyGroup.png">
		</div>
	</div>
</div>
