<div class="sponsor-section">
	<h1 class="title">ขอขอบคุณผู้ใหญ่ใจดี</h1>
	<div class="sponsor-container">
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
	</div>
	<div class="sponsor-container">
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -main">
			<img src="http://placehold.it/720" alt="">
		</div>
	</div>
	<div class="sponsor-container">
		<div class="sponsor -second">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -second">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="sponsor -second">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -second">
			<img src="http://placehold.it/720" alt="">
		</div>
	</div>
	<div class="sponsor-container">
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="clearfix visible-xs"></div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
		<div class="sponsor -third">
			<img src="http://placehold.it/720" alt="">
		</div>
	</div>
</div>
