<div id="timeline" class="section">
	<h1 class="title">กำหนดการ</h1>
	<div class="visible-xs">
		<div class="detail-container">
			<div class="detail-item -timeline">
				<img src="images/landing/timeline/pass_mobile/p1m.png" class="image">
			</div>
			<div class="detail-item -timeline">
				<img src="images/landing/timeline/pass_mobile/c2m.png" class="image">
			</div>
			<div class="detail-item -timeline">
				<img src="images/landing/timeline/current_mobile/c3m.png" class="image">
			</div>
			<div class="detail-item -timeline">
				<img src="images/landing/timeline/pass_mobile/p4m.png" class="image">
			</div>
			<div class="detail-item -timeline">
				<img src="images/landing/timeline/pass_mobile/p5m.png" class="image">
			</div>
		</div>
	</div>
	<div class="hidden-xs">
		<div class="timeline-container">
			<div class="timeline-item -top --active">
				<img src="images/landing/timeline/open-register.png" class="img-responsive center-block">
			</div>
			<div class="timeline-item -top">
				<img src="images/landing/timeline/announce-current.png" class="img-responsive center-block">
			</div>
			<div class="timeline-item -top">
				<img src="images/landing/timeline/camp-day.png" class="img-responsive center-block">
			</div>
		</div>
		<div class="timeline-container -middle">
			<div class="line">
				<img src="images/landing/progress-line.png" height="5">
			</div>
		</div>
		<div class="timeline-container">
			<div class="timeline-item -first -bottom">
				<img src="images/landing/timeline/close-register-current.png" class="img-responsive center-block">
			</div>
			<div class="timeline-item -bottom">
				<img src="images/landing/timeline/approve.png" class="img-responsive center-block">
			</div>
		</div>
	</div>
</div>
