<section class="container step-3 step-3-marketing step-4-marketing">
  <h2 class="head-background text-center major-header">คำถามสาขา Web Marketing</h2>
  <div class="row no-margin">
    <div class="col-md-8 col-md-offset-2 general">
      <div class="row no-margin">
        <h3 class="pull-left question">1.  ถ้าคุณมีถั่วงอกอยู่ 1 กำ คุณจะมีวิธีเพิ่มมูลค่ามันได้อย่างไร</h3>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="textarea">
            <textarea rows="8" name="marketing_1"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row no-margin">
    <div class="col-md-8 col-md-offset-2 general">
      <div class="row no-margin">
        <h3 class="pull-left question">2.  ถ้าคุณเป็นเจ้าของเว็บไซต์คอนเทนต์เกี่ยวกับการศึกษาที่พึ่งเปิดใหม่ คุณอยากนำเสนอเรื่องราวเกี่ยวกับอะไร แล้วมีวิธีดึงคนเข้าเว็บไซต์อย่างไร</h3>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="textarea">
            <textarea rows="8" name="marketing_2"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row button-row-3">
    <div class="col-xs-4" onclick="changePage('3','2')">
      <img class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
      <h3 class="back-button back-button-text"><a class="goto" href="#form">กลับไปแก้ไข</a></h3>
    </div>
    <div class="col-xs-4 text-center">
      <h3 class="next-button" onclick="changePage('3','4')"><a class="goto" href="#form">ถัดไป</a></h3>
    </div>
  </div>
</section>