.navigation{
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/pictures/allpage/menuBG6.png');
  background-position: center;
  background-repeat: no-repeat;
}
.sub-nav{
  padding: 0 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.sub-nav:hover{
  color: white;
  text-decoration:underline;
}
*{
  color: white;
}
body, html{
  background-image: url('/pictures/allpage/background.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  text-align: center;
}
.menu-logo{
  height: 100px
}
.menu-logo:hover{
  cursor: pointer;
}
div{
  display: inline-block;
}
.head{
  font-family: 'Quark-Bold';
}
*{
  font-family: 'THSarabunNew';
}
