.box{
  display: flex;
  align-items: baseline;
  margin: 15px 10% 10px 10%;
}
.thumbnail{
  background-color: rgba(240, 246, 212, 0);
  border: none;
}
.head{
  background-image: url('/pictures/whatis/what_is_jwcBG.png');
  padding: 15px 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
