.box{
  display: flex;
  align-items: center;
}
.text{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 25px;
}
.head{
  background-image: url('/pictures/whatis/what_is_jwcBG.png');
  display: block;
  padding: 15px 0;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
