<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="img-responsive" src="/pictures/JWClogo.png" style="height:100%;"/>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">JWC คืออะไร</a></li>
      <li><a href="#">สาขาที่สมัคร</a></li>
      <li><a href="#">กำหนดการ</a></li>
      <li><a href="#">ภาพกิจกรรม</a></li>
      <li><a href="#">ติดตามค่าย</a></li>
    </ul>
  </div>
</nav>

  {{{body}}}
</body>
</html>
