<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="navigation">
  <img class="menu-logo" src="/pictures/allpage/JWClogo.png" onclick="location.href = './index';">
  <div class="menu">
    <a href="./whatis" class="sub-nav">JWC คืออะไร</a>
    <a href="./register" class="sub-nav">สาขาที่สมัคร</a>
    <a href="./calendar" class="sub-nav">กำหนดการ</a>
    <a href="./eventpic" class="sub-nav">ภาพกิจกรรม</a>
    <a href="./about" class="sub-nav">ติดตามค่าย</a>
  </div>

</div>
  {{{body}}}
</body>
</html>
