<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JWC8</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/fonts.css">
</head>
<body>
  <footer><div>sdf</div></footer>
<div class="navigation">
  <img id="index" class="menu-logo" src="/pictures/allpage/JWClogo.png">
  <div class="menu">
    <div id="whatis" class="sub-nav">JWC คืออะไร</div>
    <div id="register" class="sub-nav">สาขาที่สมัคร</div>
    <div id="calendar" class="sub-nav">กำหนดการ</div>
    <div id="eventpic" class="sub-nav">ภาพกิจกรรม</div>
    <div id="about" class="sub-nav">ติดตามค่าย</div>
  </div>

</div>
  {{{body}}}
  <footer><div>sdf</div></footer>
  
  <script type="text/javascript" src="/js/main.js">
  </script>
</body>
</html>
