.skills-item {
    @include make-xs-column(4);
    @include make-sm-column(2);
    text-align: center;

    &:first-child {
        @include make-sm-column-offset(3);
    }

    > .image {
        @extend .img-responsive;
        display: inline-block;
    }

    > .skill {
        margin-top: 10px;
        color: #dedede;
        font-size: 16px;
        font-family: 'BoonJot', 'Helvetica Neue', Helvetica, Arial;
        font-weight: 200;
        white-space: nowrap;
    }
}