<link rel="stylesheet" href="/css/calendar.css">
<div class="container">
  <div class="row">
    <img src="pictures/calendar/Timeline.png" style="display: inline-block;"/>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="faq">
            <h3>ค่ายนี้รับสมัครกี่คน?</h3>
            <p style="width:70%;">
              ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
              แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
              การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
            </p>
          </div>
        </div>

        <div class="item">
          <div class="faq">
            <h3>ค่ายนี้รับสมัครกี่คน?</h3>
            <p style="width:70%;">
              ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
              แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
              การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
            </p>
          </div>
        </div>

        <div class="item">
          <div class="faq">
            <h3>ค่ายนี้รับสมัครกี่คน?</h3>
            <p style="width:70%;">
              ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
              แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
              การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
            </p>
          </div>
        </div>

        <div class="item">
          <div class="faq">
            <h3>ค่ายนี้รับสมัครกี่คน?</h3>
            <p style="width:70%;">
              ตอบ เราจะคัดเลือกน้องๆ ที่สมัครมาเพื่อเข้าค่ายทั้งหมด 42 คน
              แบ่งเป็นสาขา ละ 14 คนโดยจะมีรายชื่อสำรองอีกสาขาละ6คน
              การคัดเลือกจะดูจากการตอบคำถามของน้องๆ ฉะนั้น ใครมีไอเดียอะไรใส่มาให้เต็มที่!!
            </p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>

  <div class="row">
    <h1 class="head">ขอขอบคุณผู้ใหญ่ใจดี</h1>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
  </div>

</div>
