<div class="container text-center">
  <div class="row">
    <img src="https://static-secure.guim.co.uk/sys-images/Books/Pix/pictures/2013/12/19/1387464412548/fluffy-cats-009.jpg"/>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <p>test1</p>
    </div>
    <div class="item">
      <p>test2</p>
    </div>
    <div class="item">
      <p>test3</p>
    </div>
    <div class="item">
      <p>test4</p>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

  <div class="row">
    <h1>ขอขอบคุณผู้ใหญ่ใจดี</h1>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
    <div class="col-lg-3">
      <img class="img-responsive" src="" alt="" />
    </div>
  </div>

</div>
