<table>
  <tr>
    <td>ลำดับ</td>
    <td>id</td>
    <td>facebook name</td>
    <td>ชื่อเล่น</td>
    <td>ชื่อ</td>
    <td>นามสกุล</td>
    <td>โรงเรียน</td>
    <td>ระดับชั้น</td>
    <td>เบอร์</td>
    <td>เพศ</td>
    <td>e-mail</td>
    <td>ที่อยู่</td>
    <td>ไซส์เสื้อ</td>
    <td>ชื่อผู้ปกครอง</td>
    <td>เกี่ยวข้อง</td>
    <td>เบอร์ผู้ปกครอง</td>
    <td>วิธีไป</td>
    <td>หมายเหตุ</td>
  </tr>
</table>
<style >
table, th, td {
  border: 1px solid black;
}
td{
  text-align: center;
}
body{
  background: none;
  overflow: auto;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  var marketing = "marketing";
  var content = "content";
  var design = "design";
  $.get('/api/'+{{major}}, function(data){
    for(var i=0 ; i<data.length ; i++){
      var row = []
      row.push(i+1);
      row.push(data[i].auth.facebook.id)
      row.push(data[i].auth.facebook.name)
      row.push(data[i].profile.nickname);
      row.push(data[i].profile.firstname);
      row.push(data[i].profile.lastname);
      row.push(data[i].profile.school);
      row.push(data[i].profile.level);
      row.push(data[i].profile.tel);
      row.push(data[i].profile.sex);
      row.push(data[i].profile.email);
      row.push(data[i].profile.position);
      row.push(data[i].profile.size);
      row.push(data[i].profile.contact_person.firstname+" "+data[i].profile.contact_person.lastname);
      row.push(data[i].profile.contact_person.relation);
      row.push(data[i].profile.contact_person.emergency_tel);
      if(data[i].jwcinfo.generalquestion.answers >5){
        row.push(data[i].jwcinfo.generalquestion.answers[5].answer);
        row.push(data[i].jwcinfo.generalquestion.answers[6].answer);
      }
      else{
        row.push('-');
        row.push('-');
      }
      var p = "<tr>";
      for(d of row)
        p+="<td>"+d+"</td>"
      p+="</tr>"
      $("table").append(p);
    }
  });
</script>
