<link rel="stylesheet" href="/css/complete.css" >

	<div class="row sponsor-row-footer text-center">
		<!-- <img src="/pictures/allpage/footer.png" class="sponsor-row-footer-bar"> -->
		<img src="/pictures/allpage/JWClogo.png" class="sponsor-row-footer-logo">
	</div>

	<div class="content text-center">
		<h1>สมัครเรียบร้อยแล้ว</h1>
		<br>
		<h4>ทางค่ายได้เก็บข้อมูลประวัติ และคำตอบทั้งหมดของคุณไว้เรียบร้อยแล้ว</h4>
		<h4>คุณสามารุติดตามผลการสมัครได้ตั้งแต่หลังวีนที่ 20 เมษายน จาก E-mail ของคุณ</h4>
		<h4>ทางค่าย JWC#8 ขอขอบคุณในความสนใจของคุณมา ณ ที่นี้</h4>
	</div>
	<br><br>

	<div class="row text-center button-row-1">
			<div class="col-xs-4 col-xs-offset-4">
					<h3 class="next-button next-button-1"><a class="goto" href="/index.html">หลับหน้าหลัก</a></h3>
			</div>
	</div>
	<script src=""></script>
