<link rel="stylesheet" href="/css/complete.css" >
<link rel="stylesheet" href="/css/registerform.css" >
<div class="logo-regis --fixed-top">
	<img src="/images/landing/logo.png">
</div>
<br>
<div class="content text-center">
    <p class="warning-text --header">สมัครเรียบร้อยแล้ว</p>
	<img src="/pictures/register/complete.png" class="complete-logo">
	<p class="warning-text">ทางค่ายได้เก็บข้อมูลประวัติและคำตอบทั้งหมดของคุณไว้เรียบร้อยแล้ว</p>
	<p class="warning-text">น้องสามารถติดตามผลการสมัครได้ตั้งแต่หลังวันที่ 18 เมษายน 2559 ทาง Website <a href="https://jwc8.jwc.in.th">www.jwc.in.th</a> และ LINE @jwcth</p>
	<p class="warning-text">ทางค่าย JWC#8 ขอขอบคุณในความสนใจของคุณมา ณ ที่นี้</p>
</div>
<div class="row text-center button-row-1">
	<div class="col-xs-4 col-xs-offset-4">
		<h3 class="next-button next-button-1"><a class="goto" href="/">กลับหน้าหลัก</a></h3>
	</div>
</div>
<br>
<br>
