<style media="screen">
  .container{
    text-align: center;
    max-width: 700px;
  }
  body{
    color: rgb(221, 226, 228);
  }
  .text-box{
    width: 400px;
    height: 100px;
    color: black;
  }
  .check-box{
    text-align: left;
    padding-left: 50px;
  }
  .upload{
    margin-left: auto;
    margin-right: auto;
  }
  #blah{
    max-width: 500px;
  }
</style>
<div class="container">
  <form method="post" enctype="multipart/form-data" action="/confirm">
    <h1>สถานที่นัดพบ</h1>
    <div class="check-box">
      <input type="radio" class="checklist" name="howtogo" value="1">หน้า 7-eleven ในสถานีขนส่งหมอชิต 2 ( <a href="https://www.google.co.th/maps/place/%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%B5%E0%B8%82%E0%B8%99%E0%B8%AA%E0%B9%88%E0%B8%87%E0%B8%9C%E0%B8%B9%E0%B9%89%E0%B9%82%E0%B8%94%E0%B8%A2%E0%B8%AA%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E+%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3/@13.8133815,100.5447198,15z/data=!4m2!3m1!1s0x30e29c68857005dd:0x265b4896bc1aa299?hl=th">คลิกเพื่อดูแผนที่</a> )<br>
      <input type="radio" class="checklist" name="howtogo" value="2">หน้าสถานีรถไฟฟ้าใต้ดิน (MRT) "จตุจักร" ( <a href="https://www.google.co.th/maps/place/%E0%B8%AA%E0%B8%A7%E0%B8%99%E0%B8%88%E0%B8%95%E0%B8%B8%E0%B8%88%E0%B8%B1%E0%B8%81%E0%B8%A3/@13.8070114,100.5513486,15z/data=!4m2!3m1!1s0x30e29c4043011e05:0x350ee8ca19837514?hl=th">1</a> | <a href="http://jwc.in.th/jwc7/assets/img/main/map/16_CHA-01.png">2</a> )<br>
      <input type="radio" class="checklist" name="howtogo" value="3">ใต้ตึกสํานักงานอธิการบดี มหาวิทยาลัยราชภัฏจันทรเกษม ( <a href="https://www.google.co.th/maps/place/%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%A3%E0%B8%B2%E0%B8%8A%E0%B8%A0%E0%B8%B1%E0%B8%8F%E0%B8%88%E0%B8%B1%E0%B8%99%E0%B8%97%E0%B8%A3%E0%B9%80%E0%B8%81%E0%B8%A9%E0%B8%A1/@13.81829,100.575608,18z/data=!4m2!3m1!1s0x0000000000000000:0x0f0100b33d0b32b0?hl=th">1</a> | <a href="http://jwc.in.th/jwc7/assets/img/main/map/mapCRUWeb.png">2</a>)<br>
    </div>
    <br>
    <h3>
      หมายเหตุอื่นๆ( ข้อมูลเพิ่มเติมที่น้องๆต้องการจะแจ้งให้พี่ๆทราบ เช่น "หนูมาถึงตอนตีสามค่ะ ต้องทํายังไง")
    </h3>
    <input type="text" class="text-box" name="note" value="">
    <br><br>
    <h3>
      อัพโหลดใบเสร็จ
    </h3>
    <input type="file" id="imgInp"class="upload" name="slip-pic" >
    <img id="blah" src="#" alt="your image" />
    <br><br>
    <p>
      หากน้องๆมีข้อสงสัย หรือต้องการสอบถามข้อมูลเพิ่มเติม
  สามารถติดต่อได้ที่  099-402-8900 (พี่มายด์), 084-023-7266 (พี่ช้าง), 087-685-7077 (พี่แนต)
    </p>
    <input type="submit" class="btn btn-lg btn-default" value="ยืนยันสิทธิ์">
    <input type="hidden" name="travel" class="travel" value="" >
  </form>
</div>

<script type="text/javascript">
  $('.checklist').on('click', function(e){
    if(e.target.value == 1)
      $('.travel').val('หน้า 7-eleven ในสถานีขนส่งหมอชิต 2');
    else if(e.target.value == 2)
      $('.travel').val('หน้าสถานีรถไฟฟ้าใต้ดิน');
    else if(e.target.value == 3)
      $('.travel').val('ใต้ตึกสํานักงานอธิการบดี');
  })
  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});
</script>
