<link rel="stylesheet" href="/css/index.css" >
<div class="container ">
  <img src="/pictures/allpage/logobig.png" style="height:40%;" />
  <h2 class="head">เว็บสุขชิค พลิกปัญหาวัยทีน</h2>

  <div class="logo-block">
    {{#each pictures}}
    <img class="logo" src={{this}} />
    {{/each}}
  </div>
</div>
