<link rel="stylesheet" href="/css/register.css" >
<div class="container">
  <div class="row box">
  <div class="col-sm-12 col-lg-4">
    <div class="thumbnail">
      <img class="img-responsive"src="/pictures/register/webmarketing.png">
      <div class="caption text-center">
        <h3 class="head" style="color:rgb(32, 127, 214);">Web Marketing</h3>
        <p>มุมมองใหม่ๆ กับการตลอดทำอย่างไร ให้เว็บไซต์โด่งดัง และสามารถสร้างรายได้มหาศาล เรียนรู้เทคนิคจากสถานการณ์แบบ Real-Time</p>
        <div class="row">
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png" />
            <p>ชอบฟังข่าว</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ชอบคิดเลข</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ชอบวางแผน</p>
          </div>
        </div>
        <p>
          <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/pictures/register/webdesign.png">
      <div class="caption text-center">
        <h3 class="head" style="color:rgb(227, 230, 86);">Web Design</h3>
        <p>เว็บดีไซน์เนอร์ไม่ใช่เพียงผู้ออกแบบความงามแต่ต้องเข้าใจถึงพฤติกรรมผู้ใช้และมุมมองทางธุรกิจเพื่อให้เกิดความพึงพอใจในทุกๆฝ่าย</p>
        <div class="row">
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ชอบวาดรูป</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>คิดสร้างสรรค์</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ช่างสังเกต</p>
          </div>
        </div>
        <p>
          <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/pictures/register/webcontent.png">
      <div class="caption text-center">
        <h3 class="head" style="color:rgb(227, 144, 211);">Web content</h3>
        <p>หนึ่งศาสตร์ที่ล้ำลึกกำหนดทิศทางความสำเร็จของเว็บไซดฺดึงดูดผู้เข้าชมด้วยเนื้อหาบุคลิก และวิธีการสื่อสารรูปแบบต่างๆไม่ว่าจะเป็นเนื้อหา หรือรูปภาพ</p>
        <div class="row">
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ชอบเขียน</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>รักการอ่าน</p>
          </div>
          <div class="col-md-4 atom">
            <img src="/pictures/register/atom.png"/>
            <p>ชอบถ่ายรูป</p>
          </div>
        </div>
        <p>
          <a href="#" class="btn regisnow" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

</div>
</div>
