<link rel="stylesheet" href="/css/registerform.css" >
<link rel="stylesheet" href="/css/fonts.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>

//    var registerType = {{registerType}};
//      registerType = "marketing" or "content" or "design"
var registerType = "marketing";
  $(function() {

    $(".head-2, .head-3, .head-4").addClass("hide");
    $(".step-2, .step-3, .step-4").addClass("hide");
    $( "#datepicker" ).datepicker({
      dateFormat: "dd/mm/yy"
    });
  });

  function changePage(thisPage, destPage) {
      console.log(thisPage + " " + destPage);
      if(destPage=="4") {  // Disable input box
          $("input").attr("disabled", "disabled");
          $("button").attr("disabled", "disabled");
          $("textarea").attr("disabled", "disabled");
          $(".textarea").attr("disabled", "disabled");
      } else {  // Enable input box
          $("input").removeAttr("disabled");
          $("button").removeAttr("disabled");
          $("textarea").removeAttr("disabled");
          $(".textarea").removeAttr("disabled");
      }

    if(parseInt(thisPage) < parseInt(destPage)) {
        // Out
        console.log("Next");
        if(thisPage=="3" || thisPage=="4")
            thisPage = thisPage+"-"+registerType;
        $('.head-'+thisPage).addClass('hide');
        $('.step-'+thisPage).removeClass('animated slideOutLeft slideOutRight slideInRight slideInLeft').addClass('animated slideOutLeft hide');

        // In
        if(destPage=="3" || destPage=="4")
            destPage = destPage+"-"+registerType;
        $('.head-'+destPage).removeClass('hide');
        $('.step-'+destPage).removeClass('hide animated slideOutLeft slideOutRight slideInRight slideInLeft').addClass('animated slideInRight');
    } else if(parseInt(thisPage) > parseInt(destPage)) {
        // Out
        console.log("Prev");
        if(thisPage=="3" || thisPage=="4"){
            thisPage = thisPage+"-"+registerType;console.log("Prev5555");}
        $('.head-'+thisPage).addClass('hide');
        $('.step-'+thisPage).removeClass('animated slideOutLeft slideOutRight slideInRight slideInLeft').addClass('animated slideOutRight hide');

        // In
        if(destPage=="3" || destPage=="4"){
            destPage = destPage+"-"+registerType;console.log("Prev666");}
        $('.head-'+destPage).removeClass('hide');
        $('.step-'+destPage).removeClass('hide animated slideOutLeft slideOutRight slideInRight slideInLeft').addClass('animated slideInLeft');
    }
  }
</script>

  <div class="register-form">

    <div class="container body-container">
        <!--<div class="sponsor-row-big sponsor-row">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-2 sponsor">-->
                    <!--<img src="/pictures/sponser/Logo_Jankasem.png" alt="">-->
                <!--</div>-->
                <!--<div class="col-xs-2 sponsor">-->
                    <!--<img src="/pictures/sponser/Logo_Jankasem.png" alt="">-->
                <!--</div>-->
                <!--<div class="col-xs-4 logo-regis">-->
                    <!--<img src="/pictures/form/logo_regis.png" alt="">-->
                <!--</div>-->
                <!--<div class="col-xs-2 sponsor">-->
                    <!--<img src="/pictures/sponser/Logo_Jankasem.png" alt="">-->
                <!--</div>-->
                <!--<div class="col-xs-2 sponsor">-->
                    <!--<img src="/pictures/sponser/Logo_Jankasem.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2 class="head-background">ฟอร์มสมัครค่าย</h2>-->
        <!--</div>-->




<br>

      <div class="row question-form">

          <div class="row step-bar-row text-center head-1">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">1</h2>
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">2</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>


          <section class="container step-1">

            <div class="student row no-margin">
                <div class="col-md-8 col-md-offset-2 general">
                    <div class="row">
                        <h3 class="pull-left">ข้อมูลทั่วไป</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="ชื่อ" name="firstname"/>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" placeholder="นามสกุล" name="lastname"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="ชื่อเล่น" name="nickname"/>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group dropdown">
                                <input type="hidden" id="sex" name="sex"/>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    เพศ <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>ชาย</a></li>
                                    <li><a>หญิง</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" id="datepicker" placeholder="วัน/เดือน/ปีเกิด" name="birthdate">
                        </div>
                        <div class="col-xs-6">
                            <input type="hidden" id="religion" name="religion"/>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ศาสนา <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>พุทธ</a></li>
                                    <li><a>คริสต์</a></li>
                                    <li><a>อิสลาม</a></li>
                                    <li><a>อื่น ๆ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="email" placeholder="E-mail" name="email"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="เบอร์โทรศัพท์" name="tel"/>
                        </div>
                        <div class="col-xs-6">
                            <input type="hidden" id="size" name="size"/>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ไซต์เสื้อ <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>S (กว้าง 34" x ยาว 26")</a></li>
                                    <li><a>M (กว้าง 36" x ยาว 27")</a></li>
                                    <li><a>L (กว้าง 38" x ยาว 28")</a></li>
                                    <li><a>XL (กว้าง 40" x ยาว 29")</a></li>
                                    <li><a>XXL (กว้าง 42" x ยาว 30")</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="textarea">
                                <textarea rows="3" placeholder="ที่อยู่" name="position"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              <br>
              <div class="school row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row">
                          <h3 class="pull-left">ข้อมูลการศึกษา</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <input type="text" class="col-md-12" placeholder="โรงเรียน" name="school"/>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-6">
                              <input type="hidden" id="level" name="level"/>
                              <div class="btn-group dropdown">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      ระดับชั้น <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li><a>จบการศึกษาระดับ ม.3</a></li>
                                      <li><a>มัธยมศึกษาปีที่ 4</a></li>
                                      <li><a>มัธยมศึกษาปีที่ 5</a></li>
                                      <li><a>มัธยมศึกษาปีที่ 6</a></li>
                                      <li><a>ประกาศนียบัตรวิชาชีพปี 1</a></li>
                                      <li><a>ประกาศนียบัตรวิชาชีพปี 2</a></li>
                                      <li><a>ประกาศนียบัตรวิชาชีพปี 3</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-xs-6">
                              <input class="number" type="tel" placeholder="สายที่เรียน" name="major"/>
                          </div>
                      </div>
                  </div><!--.parent-->
              </div>
            <br>
            <div class="parent row no-margin">
                <div class="col-md-8 col-md-offset-2 general">
                    <div class="row">
                        <h3 class="pull-left">ข้อมูลผู้ปกครอง</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" class="col-md-12" placeholder="นามสกุล" name="parent_firstname"/>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="col-md-12" placeholder="ชื่อ" name="parent_lastname"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="สถานะที่เกี่ยวข้อง" name="parent"/>
                        </div>
                        <div class="col-xs-6">
                            <input class="number" type="tel" placeholder="เบอร์โทรศัพท์" name="emergency_tel"/>
                        </div>
                    </div>
                </div><!--.parent-->
            </div>

            <br>
            <br>
              <div class="row text-center">
                  <div class="col-xs-4 col-xs-offset-4">
                      <h3 class="next-button next-button-1" onclick="changePage('1','2')">ถัดไป</h3>
                  </div>
              </div>

          </section><!--.step-1-->

          <div class="row step-bar-row text-center head-2">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">2</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>


          <section class="container step-2">
              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">1.  เล่ากิจกรรมและประสบการณ์ที่คุณเคยทำ</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea name="your_experience" rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">2.  ความสามารถพิเศษหรืออดิเรกที่ชื่นชอบ</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea name="your_hobbies" rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>

              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">3.  จุดเด่นที่คุณคิดว่าแตกต่างจากผู้อื่นคือ</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea name="strong_point" rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">4.  นิสัยใดของตัวเองที่คุณไม่ชอบ เพราะอะไร คุณมีวิธีจัดการอย่างไร</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea name="your_like_unlike" rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>

              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">5.  เว็บไซต์แบบไหน ที่คุณอยากสร้างเพื่อแก้ไขปัญหาในวัยเรียนของคุณให้ดีขึ้น</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea name="your_created_websites" rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-4" onclick="changePage('2','1')">
                        <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                        <h3 class="back-button back-button-text back-button-2">กลับไปแก้ไข</h3>
                    </div>
                    <div class="col-xs-4 text-center">
                        <h3 class="next-button next-button-2" onclick="changePage('2','3')">ถัดไป</h3>
                    </div>
                </div>

          </section><!--.step-2-->


          <div class="row step-bar-row text-center head-3">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>

          <!--<div class="row step-bar-row">-->
            <!--<div class="col-xs-3 step-bar-main">-->
              <!--<img src="/pictures/form/icon_finish.png" alt="" width="60px">-->
              <!--<h2>ประวัติส่วนตัว</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img class="flip" src="/pictures/form/icon_finish.png" alt="" width="60px">-->
              <!--<h2>คำถามค่าย</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img src="/pictures/form/icon_in.png" alt="" width="75px">-->
              <!--<h2>3</h2>-->
              <!--<h2>คำถามสาขา</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img class="flip" src="/pictures/form/icon_not_go.png" alt="" width="40px">-->
              <!--<h4>4</h4>-->
              <!--<h2>สรุปภาพรวม</h2>-->
            <!--</div>-->

          <!--</div>-->


          <section class="container step-3 step-3-marketing">
              <h2 class="head-background text-center">Web Marketing</h2>

                <div class="row no-margin">
                    <div class="col-md-8 col-md-offset-2 general">
                        <div class="row no-margin">
                            <h3 class="pull-left question">1.  ถ้าคุณมีถั่วงอกอยู่ 1 กำ คุณจะมีวิธีเพิ่มมูลค่ามันได้อย่างไร</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="textarea">
                                    <textarea rows="8" name="marketing-1"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row no-margin">
                            <!---->
                            <!-- <div style="text-align: left; position: relative; background-color: transparent; border: medium solid white; padding-right: 10px; border-radius: 10px; cursor: pointer;">
                                <a class="btn btn-primary" style="margin: 5px; background-color: white; border-radius: 10px; color: black; border-color: white; cursor: pointer;" href="javascript:;">
                                    Choose File...
                                    <input style="position: absolute; z-index: 2; top: 0px; left: 0px; background-color: blue; color: blue; opacity: 0;" name="file_source" size="40" onchange="$(&quot;#upload-file-info&quot;).html($(this).val());" type="file">
                                </a>
                                &nbsp;
                                <span class="label" id="upload-file-info" style="font-size: 18px;">อัพโหลดรูปภาพ</span>
                            </div> -->

                            <!--////-->
                        </div>
                    </div>
                </div>
              <br>

                <div class="row no-margin">
                    <div class="col-md-8 col-md-offset-2 general">
                        <div class="row no-margin">
                            <h3 class="pull-left question">2.  ถ้าคุณเป็นเจ้าของเว็บไซต์ คอนเทนต์เกี่ยวกับการศึกษา ที่พึ่งเปิดใหม่ คุณอยากนำเสนอเรื่องราวเกี่ยวกับอะไร แล้วมีวิธีดึงคนเข้าเว็บไซต์อย่างไร</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="textarea">
                                    <textarea rows="8" name="marketing-2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <div class="row">
                    <div class="col-xs-4" onclick="changePage('3','2')">
                        <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                        <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
                    </div>
                    <div class="col-xs-4 text-center">
                        <h3 class="next-button" onclick="changePage('3','4')">ถัดไป</h3>
                    </div>
                </div>
            </section>

            <section class="container step-3 step-3-content">
                <h2 class="head-background text-center">Web Content</h2>

                  <div class="row no-margin">
                      <div class="col-md-8 col-md-offset-2 general">
                          <div class="row no-margin">
                              <h3 class="pull-left question">1. ถ้าสมมติว่ามีถั่วงอกกำลังจะกลายพันธุ์อยู่ตรงหน้าคุณ มันกำลังจะกลายพันธุ์เป็นอะไร และมันกำลังทำอะไรอยู่ จงบรรยายเกี่ยวกับเรื่องราวของมัน
<br>จากเรื่องที่แต่งมา จงย่อให้เหลือไม่เกิน 140 ตัวอักษร  </h3>
                          </div>
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="textarea">
                                      <textarea rows="8" maxlength=140 name="content-1"></textarea>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <!-- <div class="row no-margin">
                              <!---->
                              <!-- <div style="text-align: left; position: relative; background-color: transparent; border: medium solid white; padding-right: 10px; border-radius: 10px; cursor: pointer;">
                                  <a class="btn btn-primary" style="margin: 5px; background-color: white; border-radius: 10px; color: black; border-color: white; cursor: pointer;" href="javascript:;">
                                      Choose File...
                                      <input style="position: absolute; z-index: 2; top: 0px; left: 0px; background-color: blue; color: blue; opacity: 0;" name="file_source" size="40" onchange="$(&quot;#upload-file-info&quot;).html($(this).val());" type="file">
                                  </a>
                                  &nbsp;
                                  <span class="label" id="upload-file-info" style="font-size: 18px;">อัพโหลดรูปภาพ</span>
                              </div> -->

                              <!--////-->
                          </div>
                      </div>


                  <br>
                  <br>
                  <div class="row">
                      <div class="col-xs-4" onclick="changePage('3','2')">
                          <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                          <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
                      </div>
                      <div class="col-xs-4 text-center">
                          <h3 class="next-button" onclick="changePage('3','4')">ถัดไป</h3>
                      </div>
                  </div>
                </section>

              <section class="container step-3 step-3-design">
                  <h2 class="head-background text-center">Web Design</h2>

                    <div class="row no-margin">
                        <div class="col-md-8 col-md-offset-2 general">
                            <div class="row no-margin">
                                <h3 class="pull-left question">1.  ให้คุณออกแบบถั่วงอกกลายพันธุ์ในแบบของคุณ โดยใช้โปรแกรม PSD หรือ AI พร้อมอธิบายภาพดังกล่าว (ให้อัพโหลดรูป)</h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="textarea">
                                        <textarea rows="8" name="design-1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row no-margin">
                                <!---->
                                <div style="text-align: left; position: relative; background-color: transparent; border: medium solid white; padding-right: 10px; border-radius: 10px; cursor: pointer;">
                                    <a class="btn btn-primary" style="margin: 5px; background-color: white; border-radius: 10px; color: black; border-color: white; cursor: pointer;" href="javascript:;">
                                        Choose File...
                                        <input name="design-1-pic" style="position: absolute; z-index: 2; top: 0px; left: 0px; background-color: blue; color: blue; opacity: 0;" size="40" onchange="$(&quot;#upload-file-info&quot;).html($(this).val());" type="file"/>
                                    </a>
                                    &nbsp;
                                    <span class="label" id="upload-file-info" style="font-size: 18px;">อัพโหลดรูปภาพ</span>
                                </div>

                                <!--////-->
                            </div>
                        </div>
                    </div>
                  <br>

                    <div class="row no-margin">
                        <div class="col-md-8 col-md-offset-2 general">
                            <div class="row no-margin">
                                <h3 class="pull-left question">2.  คุณชอบดีไซน์ของเว็บไซต์ไหนมากที่สุด เพราะอะไร และหากคุณสามารถพัฒนาดีไซน์ในเว็บไซต์นั้นได้ คุณจะพัฒนาหรือแก้ไขส่วนใด</h3>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="textarea">
                                        <textarea rows="8" name="design-2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-xs-4" onclick="changePage('3','2')">
                            <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                            <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h3 class="next-button" onclick="changePage('3','4')">ถัดไป</h3>
                        </div>
                    </div>
                  </section>




          <br>
          <br>
          <br>
          <br>

          <div class="row step-bar-row text-center head-4">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <h4 class="step-background-pass-text"><i class="fa fa-check"></i></h4>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>

          <br><br>

          <section class="step-4">

            <p>มีข้อความประมาณว่า “ให้น้องๆ ตรวจสอบข้อมูลประวัติ และคำตอบ</p>
            <p>หลังจากกดส่งแล้ว คำตอบไม่สามารถกลับมาแก้ไขได้ บลาๆ</p>
            <br>

            <p>เอาทุก Field มาโชว์ แบบ View Only ถ้า User จะแก้ไข</p>
            <p>ให้กด “กลับไปแก้ไข”</p>


            <br><br>

            <div class="row">
                <div class="col-xs-4" onclick="changePage('4','3')">
                    <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                    <h3 class="back-button back-button-text back-button-4">กลับไปแก้ไข</h3>
                </div>
                <div class="col-xs-4 text-center">
                    <h3 class="next-button next-button-4" onclick="changePage('4','5')">ถัดไป</h3>
                </div>
            </div>
            <br>


          </section><!--.step-4-->

          <br><br>

          <!-- <div class="row">
              <div class="col-xs-4">
                  <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                  <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
              </div>
              <div class="col-xs-4 text-center">
                  <h3 class="next-button">ถัดไป</h3>
              </div>
          </div>
          <br> -->


    </div><!--.container-->

  </div><!--.register-form-->

<script>
    $('.dropdown-menu a').on('click', function(){
        $(this).parent().parent().prev().html($(this).html() + '<span class="caret"></span>');
    });

//    var sponsorBig = '<div class="sponsor-row-big sponsor-row">'
//            +'<div class="row">'
//            +'<div class="col-xs-2 sponsor">'
//            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
//            +'</div>'
//            +'<div class="col-xs-2 sponsor">'
//            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
//            +'</div>'
//            +'<div class="col-xs-4 logo-regis">'
//            +'<img src="/pictures/form/logo_regis.png" alt="">'
//            +'</div>'
//            +'<div class="col-xs-2 sponsor">'
//            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
//            +'</div>'
//            +'<div class="col-xs-2 sponsor">'
//            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
//            +'</div>'
//            +'</div>'
//            +'<h2 class="head-background">ฟอร์มสมัครค่าย</h2>'
//            +'</div>';
//    var sponsorSmall = '<div class="row sponsor-row-small sponsor-row">'
//            +'<div class="row">'
//            +'    <div class="col-xs-12 logo-regis">'
//            +'        <img src="/pictures/form/logo_regis.png" alt="" width="60%">'
//            +'    </div>'
//            +'</div>'
//            +'<div class="row">'
//            +'<h2 class="head-background">ฟอร์มสมัครค่าย</h2>'
//            +'</div>'
//            +'<div class="row">'
//            +'    <div class="col-xs-5 col-xs-offset-1 sponsor">'
//            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
//            +'    </div>'
//            +'    <div class="col-xs-5 sponsor">'
//            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
//            +'    </div>'
//            +'</div>'
//            +'<div class="row">'
//            +'    <div class="col-xs-5 col-xs-offset-1 sponsor">'
//            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
//            +'    </div>'
//            +'    <div class="col-xs-5 sponsor">'
//            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
//            +'    </div>'
//            +'</div>'
//            +'<div class="row sponsor-row-footer">' +
//            '<img src="/pictures/allpage/footer.png" class="sponsor-row-footer-bar">' +
//            '<img src="/pictures/allpage/JWClogo.png" class="sponsor-row-footer-logo">' +
//            '</div>'
//            +'</div>';
    function resize(windowSize){
        if (windowSize <768){
//            $(".sponsor-row").remove();
//            $(".body-container").prepend(sponsorSmall);

            $(".back-button-text").addClass("hide");
        }
        else{
//            $(".sponsor-row").remove();
//            $(".body-container").prepend(sponsorBig);

            $(".back-button-text").removeClass("hide");
        }
    }
    $(document).ready(function(){
        var isRefresh = false;
        var windowSize = $(window).width();
        resize(windowSize);
        $(window).resize(function() {
            windowSize = $(window).width();
            resize(windowSize);
        }).resize();

        $(".number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: Ctrl+C
                    (e.keyCode == 67 && e.ctrlKey === true) ||
                        // Allow: Ctrl+X
                    (e.keyCode == 88 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>
