<link rel="stylesheet" href="/css/registerform.css" >
<link rel="stylesheet" href="/css/fonts.css" >

  <div class="register-form">

    <div class="container body-container">
        <div class="sponsor-row-big sponsor-row">
            <div class="row">
                <div class="col-xs-2 sponsor">
                    <img src="/pictures/sponser/Logo_Jankasem.png" alt="">
                </div>
                <div class="col-xs-2 sponsor">
                    <img src="/pictures/sponser/Logo_Jankasem.png" alt="">
                </div>
                <div class="col-xs-4 logo-regis">
                    <img src="/pictures/form/logo_regis.png" alt="">
                </div>
                <div class="col-xs-2 sponsor">
                    <img src="/pictures/sponser/Logo_Jankasem.png" alt="">
                </div>
                <div class="col-xs-2 sponsor">
                    <img src="/pictures/sponser/Logo_Jankasem.png" alt="">
                </div>
            </div>
            <h2 class="head-background">ฟอร์มสมัครค่าย</h2>
        </div>




<br>

      <div class="row question-form">



          <br>
          <br>

          <div class="row step-bar-row">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">1</h2>
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">2</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>


          <div class="container step-1">

            <div class="student row no-margin">
                <div class="col-md-8 col-md-offset-2 general">
                    <div class="row">
                        <h3 class="pull-left">ข้อมูลทั่วไป</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" placeholder="ชื่อ-นามสกุล"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="ชื่อเล่น"></input>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    เพศ <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>ชาย</a></li>
                                    <li><a>หญิง</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="วันเดือนปีเกิด"></input>
                        </div>
                        <div class="col-xs-6">
                            <!--<input type="text" placeholder="ศาสนา"></input>-->
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ศาสนา <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a>พุทธ</a></li>
                                    <li><a>คริสต์</a></li>
                                    <li><a>อิสลาม</a></li>
                                    <li><a>ฮินดู</a></li>
                                    <li><a>ซิกข์</a></li>
                                    <li><a>เต๋า</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="parent row no-margin">
                <div class="col-md-8 col-md-offset-2 general">
                    <div class="row">
                        <h3 class="pull-left">ข้อมูลผู้ปกครอง</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="col-md-12" placeholder="ชื่อ-นามสกุล"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="สถานะที่เกี่ยวข้อง"></input>
                        </div>
                        <div class="col-xs-6">
                            <input class="number" type="tel" placeholder="เบอร์โทรศัพท์"></input>
                        </div>
                    </div>
                </div><!--.parent-->
            </div>

            <br>
            <br>
              <div class="row">
                  <div class="col-xs-4 col-xs-offset-4">
                      <h3 class="next-button">ถัดไป</h3>
                  </div>
              </div>

          </div>

          <!--.step-1-->



            <br>
            <br>
            <br>
            <br>

          <div class="row step-bar-row">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">2</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>


          <div class="container step-2">
              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">1.  กิจกรรมและประสบการณ์ที่คุณเคยทำ</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">2.  คุณจะมีกระบวนการจัดการกับปัญหาอย่างไรถ้ามีคน ตั้งกระทู้ที่มีการละเมิดลิขสิทธิ์ในเว็บบอร์ดของคุณ</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

                <br>
                <br>
                <div class="row">
                    <div class="col-xs-4">
                        <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                        <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
                    </div>
                    <div class="col-xs-4">
                        <h3 class="next-button">ถัดไป</h3>
                    </div>
                </div>

          </div>
          <!--.step-2-->


          <br>
          <br>
          <br>
          <br>


          <div class="row step-bar-row">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">3</h2>
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-future">
                      <h2 class="step-background-future-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>

          <!--<div class="row step-bar-row">-->
            <!--<div class="col-xs-3 step-bar-main">-->
              <!--<img src="/pictures/form/icon_finish.png" alt="" width="60px">-->
              <!--<h2>ประวัติส่วนตัว</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img class="flip" src="/pictures/form/icon_finish.png" alt="" width="60px">-->
              <!--<h2>คำถามค่าย</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img src="/pictures/form/icon_in.png" alt="" width="75px">-->
              <!--<h2>3</h2>-->
              <!--<h2>คำถามสาขา</h2>-->
            <!--</div>-->
            <!--<div class="col-xs-3 step-bar">-->
              <!--<img class="flip" src="/pictures/form/icon_not_go.png" alt="" width="40px">-->
              <!--<h4>4</h4>-->
              <!--<h2>สรุปภาพรวม</h2>-->
            <!--</div>-->

          <!--</div>-->


          <div class="container step-3">

            <h2 class="head-background">Web Design</h2>

              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">1.  ให้คุณออกแบบถั่วงอกกลายพันธุ์ในแบบของคุณ โดยใช้โปรแกรม PSD หรือ AI พร้อมอธิบายภาพดัง กล่าว (ให้อัพโหลดรูป)</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <br>

              <input type="file" title="Browse"  data-filename-placement="inside">

              <div class="fancy-file-upload fancy-file-primary">
                  <i class="fa fa-upload"></i>
                  <input type="file" class="form-control" name="contact[attachment]" onchange="jQuery(this).next('input').val(this.value);" />
                  <input type="text" class="form-control" placeholder="no file selected" readonly="" />
                  <span class="button">Choose File</span>
              </div>

            <div style="position: relative; background-color: transparent; border-radius: 5px; border-color: white;">
          		<a class="btn " style="margin: 5px;" href="javascript:;">
          			Choose File...
          			<input style="position: absolute; z-index: 2; top: 0px; left: 0px; background-color: blue; color: blue; opacity: 0;" name="file_source" size="40" onchange="$(&quot;#upload-file-info&quot;).html($(this).val());" type="file">
          		</a>
          		&nbsp;
          		<span class="label label-info" id="upload-file-info">VisualElementsManifest.xml</span>
	          </div>


              <div class="row no-margin">
                  <div class="col-md-8 col-md-offset-2 general">
                      <div class="row no-margin">
                          <h3 class="pull-left question">2.  คุณชอบดีไซน์ของเว็บไซต์ไหนมากที่สุด เพราะอะไร และหากคุณสามารถพัฒนาดีไซน์ในเว็บไซต์นั้นได้ คุณจะพัฒนาหรือแก้ไขส่วนใด</h3>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              <div class="textarea">
                                  <textarea rows="8"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <br>
              <br>
              <div class="row">
                  <div class="col-xs-4">
                      <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                      <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
                  </div>
                  <div class="col-xs-4">
                      <h3 class="next-button">ถัดไป</h3>
                  </div>
              </div>

          </div><!--.step-3-->


          <br>
          <br>
          <br>
          <br>

          <div class="row step-bar-row">
              <div class="col-xs-3 step-bar-main">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>ประวัติส่วนตัว</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>คำถามค่าย</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-pass">
                      <img src="/pictures/form/icon_finish.png" alt="" height="90px">
                  </div>
                  <div class="row">
                      <h2>คำถามสาขา</h2>
                  </div>
              </div>
              <div class="col-xs-3 step-bar">
                  <div class="row step-background-now">
                      <h2 class="step-background-now-text">4</h2>
                  </div>
                  <div class="row">
                      <h2>สรุปภาพรวม</h2>
                  </div>
              </div>
          </div>
<br>
<br>

          <div class="step-4">

            <p>มีข้อความประมาณว่า “ให้น้องๆ ตรวจสอบข้อมูลประวัติ และคำตอบ</p>
            <p>หลังจากกดส่งแล้ว คำตอบไม่สามารถกลับมาแก้ไขได้ บลาๆ</p>
            <br>

            <p>เอาทุก Field มาโชว์ แบบ View Only ถ้า User จะแก้ไข</p>
            <p>ให้กด “กลับไปแก้ไข”</p>

          </div><!--.step-4-->


          <br>
          <br>
          <div class="row">
              <div class="col-xs-4">
                  <img  class="pull-left back-button" src="/pictures/form/arrow.png" alt="" width="80px" height="70px">
                  <h3 class="back-button back-button-text">กลับไปแก้ไข</h3>
              </div>
              <div class="col-xs-4">
                  <h3 class="next-button">ถัดไป</h3>
              </div>
          </div>
          <br>


    </div><!--.container-->

  </div><!--.register-form-->

<script>
    $('.dropdown-menu a').on('click', function(){
        $(this).parent().parent().prev().html($(this).html() + '<span class="caret"></span>');
    });

    var sponsorBig = '<div class="sponsor-row-big sponsor-row">'
            +'<div class="row">'
            +'<div class="col-xs-2 sponsor">'
            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
            +'</div>'
            +'<div class="col-xs-2 sponsor">'
            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
            +'</div>'
            +'<div class="col-xs-4 logo-regis">'
            +'<img src="/pictures/form/logo_regis.png" alt="">'
            +'</div>'
            +'<div class="col-xs-2 sponsor">'
            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
            +'</div>'
            +'<div class="col-xs-2 sponsor">'
            +'<img src="/pictures/sponser/Logo_Jankasem.png" alt="">'
            +'</div>'
            +'</div>'
            +'<h2 class="head-background">ฟอร์มสมัครค่าย</h2>'
            +'</div>';
    var sponsorSmall = '<div class="row sponsor-row-small sponsor-row">'
            +'<div class="row">'
            +'    <div class="col-xs-12 logo-regis">'
            +'        <img src="/pictures/form/logo_regis.png" alt="" width="60%">'
            +'    </div>'
            +'</div>'
            +'<div class="row">'
            +'<h2 class="head-background">ฟอร์มสมัครค่าย</h2>'
            +'</div>'
            +'<div class="row">'
            +'    <div class="col-xs-5 col-xs-offset-1 sponsor">'
            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
            +'    </div>'
            +'    <div class="col-xs-5 sponsor">'
            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
            +'    </div>'
            +'</div>'
            +'<div class="row">'
            +'    <div class="col-xs-5 col-xs-offset-1 sponsor">'
            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
            +'    </div>'
            +'    <div class="col-xs-5 sponsor">'
            +'        <img src="/pictures/sponser/Logo_Jankasem.png" alt="" width="70%">'
            +'    </div>'
            +'</div>'
            +'<div class="row sponsor-row-footer">' +
            '<img src="/pictures/allpage/footer.png" class="sponsor-row-footer-bar">' +
            '<img src="/pictures/allpage/JWClogo.png" class="sponsor-row-footer-logo">' +
            '</div>'
            +'</div>';
    function resize(windowSize){
        if (windowSize <768){
            $(".sponsor-row").remove();
            $(".body-container").prepend(sponsorSmall);

            $(".back-button-text").addClass("hide");
        }
        else{
            $(".sponsor-row").remove();
            $(".body-container").prepend(sponsorBig);

            $(".back-button-text").removeClass("hide");
        }
    }
    $(document).ready(function(){
        var isRefresh = false;
        var windowSize = $(window).width();
        resize(windowSize);
        $(window).resize(function() {
            windowSize = $(window).width();
            resize(windowSize);
        }).resize();

        $(".number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                        // Allow: Ctrl+C
                    (e.keyCode == 67 && e.ctrlKey === true) ||
                        // Allow: Ctrl+X
                    (e.keyCode == 88 && e.ctrlKey === true) ||
                        // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>
