<div class="container text-center">
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="...">
      <div class="caption text-center">
        <h3>Web Marketing</h3>
        <p>มุมมองใหม่ๆ กับการตลอดทำอย่างไร</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="...">
      <div class="caption text-center">
        <h3>Web Design</h3>
        <p>เว็บดีไซน์เนอร์ไม่ใช่เพียง</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="...">
      <div class="caption text-center">
        <h3>Web content</h3>
        <p>หนึ่งศาสตร์ที่ล้ำลึก</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">สมัครเลย</a>
        </p>
      </div>
    </div>
  </div>

</div>
</div>
