<link rel="stylesheet" href="/css/complete.css" >
<link rel="stylesheet" href="/css/registerform.css" >
<div class="logo-regis --fixed-top">
	<img src="/images/landing/logo.png">
</div>
<br>
<div class="content text-center">
    <p class="warning-text --header">ยืนยันสิทธิ์เรียบร้อยแล้ว</p>
	<img src="/pictures/register/complete.png" class="complete-logo">
	<p class="warning-text">ยินดีต้อนรับ น้อง{{name}}  เข้าสู่โรงเรียน JWC</p>
	<p class="warning-text">สำหรับตารางเรียนแล้วข้อมูลอื่นๆ จะมีคุณครูที่ปรึกษาติดต่อกลับไปอีกครั้งนะครับ</p>
</div>
<div class="row text-center button-row-1">
	<div class="col-xs-4 col-xs-offset-4">
		<h3 class="next-button next-button-1"><a class="goto" href="/">กลับหน้าหลัก</a></h3>
	</div>
</div>
<br>
<br>
