<link rel="stylesheet" href="/css/whatis.css">
<div class="container">
  <div class="row">
    <h1 class="head">JWC คืออะไร</h1>
    <div class="text">JWC เป็นค่ายที่จะพาน้องๆ ที่มีใจรักในการสร้างเว็บไซด์ มาร่วมกิจกรรมสนุกๆ ได้รับความรู้ และ เทคนิคการทำเว็บไซต์ พร้อมทั้งทักษะการพรีเซนต์ผลงานกับกรรมการกูรูในวงการมากมาย
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11 box">
      <div class="col-lg-3 col-md-12 col-lg-offset-1">
        <img src="/pictures/whatis/เปิดรับสมัคร.png" />
      </div>
      <div class="col-lg-1 col-md-12">
        <img src="/pictures/whatis/arrow.png" />
      </div>
      <div class="col-lg-3 col-md-12">
        <img src="/pictures/whatis/ระยะเวลา.png" />
      </div>
      <div class="col-lg-1 col-md-12">
        <img src="/pictures/whatis/arrow.png" />
      </div>
      <div class="col-lg-3 col-md-12">
        <img src="/pictures/whatis/สถานที่.png" />
      </div>
    </div>
  </div>

</div>
