body {
    background: url('../images/landing/bg.jpg') no-repeat center center;
    background-color: #356243;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: 400;
}

.border-blackboard {
    background: url('../images/landing/border-bg.jpg');
    width: 100%;
    height: 50px;
    &.-top {
        margin-bottom: 45px;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }
    &.-bottom {
        box-shadow: 0px -8px 12px rgba(0, 0, 0, 0.2);
    }
}

.section {
    @extend .container;
    text-align: center;
    margin-bottom: 20px;
}

.step-bar-main {
    h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .visible-xs.text {
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    .hidden-xs.text {
        display: inline-block !important;
    }
}

.free.-sticky {
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
    z-index: 99999;
}

@media (max-width: 768px) {
    .free.-sticky {
        left: 0;
        right: auto;
        width: 100px;
    }
}

@media (min-width: 1920) {
    .free.-sticky {
        right: 15%;
    }
}