.title {
    display: inline-block;
    color: $main-font-color;
    background: url('../images/landing/title-bg.png') no-repeat center center;
    background-size: 100%;
    margin-bottom: 25px;
    white-space: nowrap;
}

.section {
	> .title {
		padding: 0 40px;
		margin-bottom: 25px;
	}
}

.major-header.-title {
    text-transform: uppercase;
    font-size: 56px;
}