// Override Bootstrap variables in this file, e.g.

$font-size-base: 18px;
$title-font: 'BoonJot', 'Helvetica Nueu', Helvetica, Arial !default;
$main-font-color: #ffffff !default;
$navbar-height: 160px;
